.todo-input{
	border-top: 1px solid #e9ecef;
	border-bottom: 1px solid #e9ecef;
	display: flex;
	padding: 1rem;
	input {
		flex: 1;
		font-size: 1.1rem;
		outline: none;
		border: none;
		background: transparent;
		border-bottom: 1px solid #ced4da;
		&:focus {
			border-bottom: 1px solid #15aabf;
		}
	}
	.add-button {
		width: 5rem;
		height: 2rem;
		margin-left: 1rem;
		border: 1px solid #37b24d;
		color: #37b24d;
		font-weight: 500;
		font-size: 1.1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&:hover {
			background: #37b24d;
			color: white;
		}
		&:active {
			background: #2f9e44;
		}
	}

}